.custom-form-title {
    padding-left: 16px !important;
}

.custom-form-text {
    font-size: 20px;
    padding-top: 10px;
}

.custom-form-border {
    border: 1px #000 solid;
}

.custom-form-divider {

    border: 1px #000 solid;
    height: 3px;
    border-radius: 50px;
}